<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
	    <Property name="NO_PATTERN">
			%msg%n
		</Property>
		<Property name="DEFAULT_PATTERN">
			%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n
		</Property>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} - [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
	    <File name="file" fileName="logs/app.log">
			<PatternLayout pattern="${DEFAULT_PATTERN}" />
	    </File>
		<Console name="console" target="SYSTEM_OUT"	follow="true">
			<PatternLayout pattern="${DEFAULT_PATTERN}" />
		</Console>
		<Console name="console-no-pattern" target="SYSTEM_OUT"	follow="true">
			<PatternLayout pattern="${NO_PATTERN}" />
		</Console>
		<Async name="console-async">
		  <AppenderRef ref="console" />		  
		</Async>
	</Appenders>
	<Loggers>
	 <Logger name="com.lotuslabs.eip.processor.resequencer.LongResequencerTest" level="info" additivity="false">
      <AppenderRef ref="console-no-pattern"/>
    </Logger>
	  <Root level="info">
		<AppenderRef ref="console" />
	   </Root>
	</Loggers>
</Configuration>
